#navbar {

    .navbox {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding:20px 0px;
        .navleft {
            width: 60%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            h2{
                font-size: 30px;
                font-weight: 700;
            }
            .navul {
                display: flex;
                justify-content: space-between;
                width: 40%;
                li{
                    font-size: 20px;
                    a{
                        color: black;
                    }
                }
            }
        }

        .navright {
            width: 40%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .navitems{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                i{
                    cursor: pointer;
                    a{
                        color: black;
                    font-size: 25px;

                    }
                }
                .input{
                    position: relative;
                    width: 250px;
                    height: 25px;
                    border-bottom: 1px solid black;
                    input{
                        width: 100%;
                        height: 100%;
                        outline: none;
                        border: none;
                        background: none;
                    }
                    span{
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                    
                }
            }
        }
    }
}
.navlink{
    text-decoration: underline !important;
    color: white;
}